@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Inter', system-ui, sans-serif;
    }
    .active{
        font-weight: 700 !important;
        background-color:#034285
    }
    .alert
    {
        @apply text-sm font-thin text-clip border p-2 rounded-md shadow-sm mb-4;
    }

    .info{
        @apply bg-slate-50 text-slate-700 border-slate-100 dark:bg-slate-700 dark:text-slate-50 dark:border-slate-700
    }

    .warning{
        @apply bg-yellow-50 text-yellow-700 border-yellow-100 dark:bg-yellow-700 dark:text-yellow-50 dark:border-yellow-700
    }

    .success{
        @apply bg-green-50 text-green-700 border-green-100 dark:bg-green-700 dark:text-green-50 dark:border-green-700
    }

    .danger{
        @apply bg-red-50 text-red-700 border-red-100 dark:bg-red-700 dark:text-red-50 dark:border-red-700
    }
}