@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./../../node_modules/preline/variants.css";
@plugin "@tailwindcss/forms";

@layer base {
    html {
        font-family: 'Inter', system-ui, sans-serif;
    }
    a.active{
        font-weight: 700 !important;
        background-color:#034285
    }
    .alert-info{
        @apply p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400
    }

    .alert-warning{
        @apply p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300
    }

    .alert-success{
        @apply p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400
    }

    .alert-danger{
        @apply p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400
    }
}